<nav class="navbar navbar-expand-lg navbar-dark custom-navbar px-4">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/logo.png" alt="HydroTracker Logo" width="36" height="36" class="me-2 logo-glow">
            <span class="fw-semibold brand-text">HydroTracker</span>
        </a>

        <!-- Menú colapsable -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Links -->
            <ul class="navbar-nav mx-auto align-items-center">
                <li class="nav-item me-3">
                    <a class="nav-link  d-flex align-items-center" href="#">
                        <i class="bi bi-house-door me-1"></i> Inicio
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link d-flex align-items-center" href="search">
                        <i class="bi bi-house-door me-1"></i> Buscar por país
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link d-flex align-items-center" href="map">
                        <i class="bi bi-geo-alt me-1"></i> Ver mapa
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link d-flex align-items-center" href="about">
                        <i class="bi bi-info-circle me-1"></i> Acerca de
                    </a>
                </li>
            </ul>
            <!-- Botón login -->
            <button class="btn login-btn ms-lg-2">Login</button>
        </div>
    </div>
</nav>  