// Colores personalizados
$purple: #9b59b6;
$dark-bg: #1c1c1c;
$secondary-bg: #343a40;

// Contenedor principal
:host {
  display: block;
  background-color: $dark-bg;
  color: #f8f9fa;
  padding: 2rem;
}

.contentMap {
  gap: 12px;
}

// Filtros
.card {
  background-color: $secondary-bg;
  border: none;

  .card-header {
    background-color: transparent;
    border-bottom: 1px solid #555;
  }

  .form-check-label,
  .form-label {
    color: #f8f9fa;
  }

  .form-range {
    accent-color: $purple;
  }

  .badge-info {
    background-color: #17a2b8;
  }
}